/*

#FF5722 red
#f5f5f5 white
#212121 black
#FF5722 sky blue

*/


/* Code for Contacts navigation ~ Bottom  Start */


.contact_synsara_container {
  height: 140px;
  width: 100%;
  /* margin: 0.5%; */
  background-color: #00ff00;
}


.contact_synsara_col {
  /* padding-left: 20px; */
  text-align: center;
  width: 33%;
  height: 100px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact_synsara_row:after {
  content: "";
  display: table;
  clear: both;
}

/* @media screen and (max-width: 600px) {
  .contact_synsara_col {
    width: 100%;
    height: 100%;
  }


  .contact_synsara_container {
    height: 100%;
    width: 100%;
  }
} */


/* Code for Contacts navigation ~ Bottom End  */

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/

  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: url(../img/bg_5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../img/bg_6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stretch {
  margin: 0;
  padding: 0;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../img/bg_8.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../img/bg_9.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Added glow here */

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF5722, 0 0 40px #FF5722, 0 0 50px #FF5722, 0 0 60px #FF5722, 0 0 70px #FF5722;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff073a, 0 0 40px #ff073a, 0 0 50px #ff073a, 0 0 60px #ff073a, 0 0 70px #ff073a, 0 0 80px #ff073a;
  }
}

@font-face {
  font-family: 'Exo2.0-Black';
  src: url('../fonts/exo_2.0/Exo2.0-Black.eot'), url('../fonts/exo_2.0/Exo2.0-Black.otf');
}

@font-face {
  font-family: 'Exo2.0-Bold';
  src: url('../fonts/exo_2.0/Exo2.0-Bold.eot'), url('../fonts/exo_2.0/Exo2.0-Bold.otf');
}

@font-face {
  font-family: 'Exo2.0-Thin';
  src: url('../fonts/exo_2.0/Exo2.0-Thin.eot'), url('../fonts/exo_2.0/Exo2.0-Thin.otf');
}

@font-face {
  font-family: 'Exo2.0-Regular';
  src: url('../fonts/exo_2.0/Exo2.0-Regular.eot'), url('../fonts/exo_2.0/Exo2.0-Regular.otf');
}


body {
  font-family: 'Exo2.0-Regular', sans-serif;
  background-color: #f5f5f5;

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  padding: 0 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ff00;
  border-radius: 4px;
  padding: 0 2px;
  /*outline: 1px solid #333;*/
}

.top-bar {
  float: left;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 10;
  /*background : url("../img/nav-bg.png") repeat-x;*/
}

.wrap960 {
  width: 90%;
  margin: 0 auto;
}

.logo-box {
  float: left;
  position: relative;
  left: 7%;
  width: 15%;
  height: 75px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo {
  transition: 0.3s ease-out;
  background: url("../img/title.png") repeat-x;
  background-size: 100% 100%;
}

.logo-box p {
  margin: 0;
  height: 75px;
}

.logo>a {
  text-indent: -9999px;
}

.nav-box {
  height: auto;
  width: auto;
  /*background: #00f;*/
  float: right;
  text-decoration: none;
}

.menu-button {
  display: none;
  float: right;
  background: url("../img/menu-button.png") left center;
  width: 36px;
  height: 50px;
}

.nav {
  list-style-type: none;
  text-align: center;
  position: relative;
}

.nav li {
  display: inline-block;
  position: relative;
}

.nav a {
  /* font-family: 'Exo2.0-Thin'; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: monospace; */
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  position: relative;
  top: 10px;
  text-decoration: none;
  padding: 15px 5px;
  /* -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein; */
  /* background: url("../img/nav-bg.png") no-repeat; */
  /* background-position: 300px 0px;
  transition: background 0.3s linear, color 0.3s linear; */
}

.top-bar{
  border-radius: 25px;
  color: #FF5722;
}

.top-bar a {
  /* color: #00ff00; */
  font-family: monospace;
  color: rgb(0, 255, 0, 0.5);
}

.top-bar a:hover {
  color: #000000 !important;
}
.top-bar-black {
  background-color: rgb(44, 44, 44,0.75);
  /* background-color: rgb(255, 87, 34); */
  /* background-color: #fff; */
  border-radius: 25px;
  color: #FF5722;
  /* border-radius: 25px !important; */
}

/* .top-bar-black li {
  background-color: rgb(75, 73, 73) !important;
  width: 100%;
  float: right;
  border-radius: 25px;
} */

.top-bar-black a {
  /* color: #00ff00; */
  font-family: monospace;
  color: rgb(0, 255, 0, 0.5);
}

.top-bar-black a:hover {
  color: #000000 !important;
}

.top-bar-black .logo {
  transition: background 0.3s ease-in;
  /* border-radius: 25px !important; */
  /* background: url("../img/para_logo_ph.png") no-repeat; */
  background-position: -100%;
}

.nav a:hover {
  font-family: 'Bebas Neue', sans-serif;
  background: url("../img/nav-bg.png") no-repeat;
  color: #000000 !important;
  background-position: center bottom !important;
  transition: background 0.3s linear, color 0.3s linear;
  font-weight: 900;
  border-radius: 35%;
}

.nav-active {
  /* background: url("../img/nav-bg.png") no-repeat; */
  background-color: rgba(44, 44, 43, 0.75);
  color: #ffffffd0 !important;
  font-family: 'Lucida Console' !important;
  background-position: center bottom !important;
  transition: background 0.3s linear, color 0.3s linear;
  border-radius: 35%;
  font-weight: 900 !important;
}

.home-slide {
  width: 100%;
  height: 100%;
  /* min-height: 600px; */
  /* background: #333 url("../img/bg_1.jpg") no-repeat center center fixed; */
  /* background: #333 url("../img/.jpg") no-repeat center center fixed; */
  /* background: #333 url("../img/bg_3.jpg") no-repeat center center fixed; */
  background-size: cover;
}

.overlay-pattern {
  /* background: url("../img/black-pattern.png"); */
  /* background: rgb(0, 0, 0); */
  width: 100%;
  height: 100%;
}

.scroll-down {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 10px;
  cursor: pointer;
}

.para-slide {
  font-size: 1em;
  margin: 0 auto;
  font-weight: normal;
  line-height: 80px;
  position: relative;
  top: 30%;
  width: 850px;
}

.pre-para,
.para-slide,
.post-para {
  text-transform: uppercase;
}

.pre-para {
  height: 80px;
  color: #f5f5f5;
  font-size: 4em;
  font-family: 'Exo2.0-Thin', sans-serif;
  text-align: left;
  padding-left: 20px;
}

.para {
  font-family: 'Exo2.0-Bold', sans-serif;
  font-size: 10em;
  color: #FF5722;
  height: 0px;
  width: 50%;
  text-align: right;
  box-sizing: border-box;
}

.sara {
  float: right;
  height: 0px;
  width: 50%;
  box-sizing: border-box;
  font-size: 10em;
  color: #f5f5f5;
  font-family: 'Exo2.0-Thin', sans-serif;
}

.post-para {
  text-align: right;
  line-height: 260px;
  color: #00ff00;
  font-size: 3em;
  font-family: 'Exo2.0-Bold', sans-serif;
  display: none;
  padding-right: 55px;
}

/* NOTE: about section css begins*/
.about-container {
  height: auto !important;
  background: url("../img/bg_dots_black.png");
  /* background-color: rgb(44, 44, 44, 0.25); */
  padding: 60px 10px;
}


.section-title {
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-family: 'Exo2.0-Bold', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  /*color: rgb(44,44,44);*/
}

.section-title p {
  font-size: 0.5em;
  margin: 0;
  line-height: 3px;
}

.about-para {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.about-para span {
  color: #FF5722;
  font-weight: bold;
}

.main-logo-container {
  width: 100%;
  height: 300px;
}

.main-logo {
  width: 250px;
  margin: 0 auto;
  overflow: hidden;
}

.para-detail-container {
  width: 100%;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Exo2.0-Bold", sans-serif;
}

.num-event {
  width: 33.3333333333%;
  box-sizing: border-box;
  float: left;
  padding: 5px 5px;
}

.event-date {
  width: 33.3333333333%;
  box-sizing: border-box;
  float: left;
  padding: 5px 5px;
}

.cash-prize {
  width: 33.3333333333%;
  box-sizing: border-box;
  float: right;
  padding: 5px 5px;
}

.num-event span,
.cash-prize span,
.event-date span {
  color: #FF5722;
  font-size: 3em;
}

.team-container,
.register-container {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255) no-repeat center fixed;
  background-size: cover;
}

.register-container1 {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  /* url(../img/bg_1.jpg) no-repeat center center fixed; */
  background-size: cover;
}


.black-overlay {
  width: 100%;
  height: 100%;
  /* background: url("../img/black-pattern.png"); */
}

.black-overlay1 {
  width: 100%;
  height: 100%;
  /* background: url("../img/black-pattern.png"); */
  background-color: rgb(44, 44, 44);
}

.black-overlay h1 {
  color: #FFF;
}

.member-detail {
  font-family: "Exo2.0-Bold", sans-serif;
  /*color: rgb(44,44,44);*/
  color: #a4a4a4;
  padding: 25px 0;
}

.member-photo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.member-name a {
  text-decoration: none;
  color: #a4a4a4;
}

.member-name {
  font-size: 1.2em;
  color: #a4a4a4;
  text-transform: uppercase;
}

.member-post {
  color: #FF5722;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}

h1 span {
  text-align: center;
  color: #FF5722;
  width: 100%;
}

.container {
  text-align: center;
  padding-bottom: 20px !important;
}


.register-info {
  width: 80%;
  text-align: center;
  font-size: 1em;
  color: #a4a4a4;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 30px 0;
}

.reg-button {
  display: inline-block;
  height: 10%;
  width: 40%;
  padding: 3%;
  border-radius: 5px;
  padding: 18px 30px;
  /*background: #FF5722;*/
  background-color: rgb(44, 44, 44);
  color: #FF5722;
  font-size: 1.2em;
  font-family: "Exo2.0", sans-serif;
  text-decoration: none;
  transition: transform .3s;
  font-weight: 900;
  box-shadow: .1em .1em .2em #FF5722;
}



/*.reg-button1 {
  text-decoration: none;
  padding: 10px 15px 5px 15px;
  background: #FF5722;
  color: #f5f5f5;
  font-size: 1.2em;
  font-family: "Exo2.0-Thin", sans-serif;
}

.reg-button2 {
  text-decoration: none;
  padding: 10px 8px 5px 6px;
  background: #FF5722;
  color: #f5f5f5;
  font-size: 1.2em;
  font-family: "Exo2.0-Thin", sans-serif;
}

.reg-button3 {
  text-decoration: none;
  padding: 10px 18px 5px 18px;
  background: #FF5722;
  color: #f5f5f5;
  font-size: 1.2em;
  font-family: "Exo2.0-Thin", sans-serif;
}
*/
.reg-button:hover {
  /*background: #00ff00;*/
  transform: scale(.9);
  text-decoration: none;
  background-color: #00ff00;
  color: #ffffff;
  box-shadow: .1em .1em .2em #000000;
  /* border: #000000; */
}

.contact-us {
  color: #fff;
  text-transform: uppercase;
  width: 95%;
  height: 0px;
  position: relative;
  bottom: 138px;
}

/* NOTE: about section css ends */
.sponsor-para span {
  color: #FF5722;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  font-size: 3em;
  text-align: center;
  font-family: "EXo2.0-Bold", sans-serif;
  text-transform: uppercase;
}

.event-date1 {
  width: 33.3333333333%;
  box-sizing: border-box;
  text-align: center;
}

/* NOTE: event details css start */
.event-content {
  display: none;
  min-height: 500px;
  /*height: 100vh;*/
  width: 100%;
  background: #fff;
}

.whole-event {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.event {
  height: 100%;
  width: 100%;
  display: none;
  /*overflow: hidden;*/
}


.event-1>.event-image {
  /* background: #fff url("../img/eddard.png") no-repeat; */
  /* background: rgb(44, 44, 44) url("https://media.giphy.com/media/WtCqLJbq5KfObMkejl/giphy.gif") no-repeat center; */
  background: rgb(44, 44, 44) url("../img/Eventgifs1/humblefoolz1.gif") no-repeat center;

}

.event-2>.event-image {
  /* background: #fff url("../img/web.jpg") no-repeat; */
  /* background: #fff url("https://media.giphy.com/media/ybDoDF08ZuSZ2/giphy.gif") no-repeat center center; */
  background: rgb(44, 44, 44) url("../img/Eventgifs1/webuiduo1.gif") no-repeat center;

}

.event-3>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/inovate1.gif") no-repeat center;
}

.event-4>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/trickytrail1.gif") no-repeat center;
}

.event-5>.event-image {
  /* background: rgb(44, 44, 44) url("https://media.giphy.com/media/WtCqLJbq5KfObMkejl/giphy.gif") no-repeat center; */
  background: rgb(44, 44, 44) url("../img/Eventgifs1/hackunamatata1.gif") no-repeat center;

}

.event-6>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/cricbidd1.giff") no-repeat center;
}

.event-7>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/blitzbrigade1.gif") no-repeat center;
}

.event-8>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/shuttersnap1.gif") no-repeat center;
}

.event-9>.event-image {
  background: rgb(44, 44, 44) url("../img/Eventgifs1/workshop1.gif") no-repeat center;
}

.event-image {
  width: 40%;
  float: left;
  height: 100%;
  background-size: cover !important;
}

.instruct {
  width: 40%;
  height: 100%;
  color: rgb(44, 44, 44);
  overflow-y: scroll;
  padding: 10px 35px;
  box-sizing: border-box;
  /*position: relative;*/
  float: left;
  /*right:90%;*/
  /*opacity:0.8;*/
  background: #ffcba4;
}

.instruct h1 {
  text-align: center;
  position: relative;
  right: 15px;
  color: #FF5722;
}

.instruct h3 {
  text-align: center;
  color: #FF5722;
}

li ol li {
  list-style-type: upper-latin;
}

.instruct p {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ins-close {
  position: relative;
  top: 1em;
  /*position:relative;*/
  right: 25px;
  float: left;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.info {
  height: 100%;
  font-family: 'Exo2.0-Regular', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 60%;
  background: rgb(44, 44, 44);
  float: left;
}

.info-close {
  width: 2em;
  height: 2em;
  position: relative;
  float: right;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

.desc {
  font-family: 'Exo2.0-Regular', sans-serif;
  width: 100%;
  height: 65%;
  padding: 0.7em;
  padding-top: 2em;
  box-sizing: border-box;
}

.event_title {
  font-family: 'Exo2.0-Bold', sans-serif;
  width: 100%;
  padding-left: 3%;
  box-sizing: border-box;
  font-variant: small-caps;
  font-size: 3em;
  line-height: 57px;
}

.button {
  width: 100%;
  font-family: 'Exo2.0-Bold', sans-serif;
}

.instruction {
  width: 100%;
  left: 25%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 35px;
}

.ins {
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
  color: #FF5722;
  font-family: sans-serif;
  font-size: 1.8em;
  background: rgb(44, 44, 44);
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  box-shadow: .1em .1em .2em rgb(255, 255, 255);
  border-radius: .15em;
  font-weight: 900;
}

.contact {
  font-family: 'Exo2.0-Regular', sans-serif;
  font-size: 15px;
  height: 30%;
  width: 100%;
  padding: 0.7em;
  box-sizing: border-box;
}

.head_info {
  height: 60%;
  width: 100%;
}

.head {
  width: 50%;
  float: left;
  height: 80%;
  text-align: center;
}

.head-name {
  font-size: 2.5em;
  line-height: 37px;
  font-family: 'Exo2.0-Thin', sans-serif;
  font-variant: small-caps;
  text-align: center;
}

.ph {
  font-family: 'Exo2.0-Bold', sans-serif;
  font-size: 15px;
}

.leftarrow {
  float: left;
  position: relative;
  bottom: 55%;
  left: 3%;
  height: 0%;
}

.rightarrow {
  float: right;
  position: relative;
  bottom: 55%;
  right: 3%;
  height: 0%;
}

.event-inactive {
  display: none;
}

.event-active {
  display: block;
}

/* NOTE: event details css end */



.map-line {
  width: 100%;
  height: 5px;
  background-color: #FF5722;
  /* background-color: #00ff00; */
}

.sairam-map {
  width: 100%;
  height: 800px;
}

.sairam-map iframe {
  width: 100%;
  height: 800px;
}


footer {
  background: #333;
}

.foot {
  color: #a4a4a4;
  padding-top: 20px;
  text-align: center;
  font-family: 'Exo2.0-Regular', sans-serif;
  padding-bottom: 20px;
}

.foot a {
  text-decoration: none;
  color: #FF5722;
}

.foot a:hover {
  color: #ab2323;
}


/* NOTE: EVENT GRID CSS BEGINS */
.event-container {
  padding: 50px;
  background: url("../img/bg_15.jpg") no-repeat center center;
  /* background: url("https://media.giphy.com/media/3CZ3cqAHhaa21p45qX/giphy.gif") no-repeat center center; */

  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
  /* background: url("../img/bg_dots_black.png"); 
  background-color: rgb(44, 44, 44);*/
  /*background-color: rgb(0, 0, 0);*/
  /* background-color: rgb(255, 255, 255); */
}

.event_column {
  height: 200px;
  cursor: pointer;
  border-radius: 25px;
  /*background-color: #00ff00;*/
  /* background-color: rgb(0, 0, 0); */
  /* background: url("../img/bg_1.jpg"); */
  /*border: 1px solid black;*/
}

.event_column img {
  height: 200px;
}

.eventhover {
  display: none;
  width: 100%;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Exo2.0-Bold', sans-serif;
  font-size: 1.3em;
  color: #FF5722;
  text-shadow: 1px 0px #111;
}

.eventhover div {
  width: 100%;
  height: 100px;
  padding-top: 35%;
}

.event-hover-active {
  display: block;
  background: url("../img/black-pattern.png");
  /* url("../img/black-pattern.png"); */
  /*height:200px;*/
  border-radius: 25px;
  position: relative;
  bottom: 200px;
}

.plus {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/blitzbrigade2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.inovate {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/inovat2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.hakunaMatatata {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/hackunamatata2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.cricbidd {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/cricbidd2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.trickytrail {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/trickytrail2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.humblefoolz {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/humblefoolz2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.shuttersnap {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/shuttersnap2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.webuiduo {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/webuiduo2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.workshop {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("../img/Eventgifs2/workshop2.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}
.hakunaMatatata2 {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("https://media.giphy.com/media/fgKPmEggc23WU/giphy.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.25;
}
.surprise {
  /* background: url("../img/more.png") no-repeat 50% 50%; */
  background: url("https://media.giphy.com/media/Rghrd8wtcwNGdAwV3c/giphy.gif") no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.75;
}



/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.row {
  padding: 20px 0;
  width: 100%;
}

/* Countdown Section */

#countdown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 55px;
}



.countdown-item {
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: relative;
  opacity: 0;
  background-color: rgba(47, 46, 54, 0.5);
  margin: 5px;
}

.countdown-item.show {
  animation: fadein 1s forwards;
}

/* .countdown-item::before {
  position: absolute;
  content: ' ';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(47, 46, 54, 0.5);
  left: 0;
  top: 0;
} */

.countdown-item.days {
  animation-delay: 1s;
}

.countdown-item.hours {
  animation-delay: 1.5s;
}

.countdown-item.minutes {
  animation-delay: 2s;
}

.countdown-item.seconds {
  animation-delay: 2.5s;
}

.countdown-item.days::after {
  content: attr(data-days);
}

.countdown-item.hours::after {
  content: attr(data-hours);
}

.countdown-item.minutes::after {
  content: attr(data-minutes);
}

.countdown-item.seconds::after {
  content: attr(data-seconds);
}


/* Slideshow keyframes*/

@keyframes slideShow {
  0% {
    opacity: 0;
    /* transform: scale(1);
    -ms-transform: scale(1); */
  }

  4% {
    opacity: 1
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0;
    /* transform: scale(1.1);
    -ms-transform: scale(1.1); */
  }

  100% {
    opacity: 0;
    /* transform: scale(1);
    -ms-transformm: scale(1); */
  }
}

@-o-keyframes slideShow {
  0% {
    opacity: 0;
    /* -o-transform: scale(1); */
  }

  4% {
    opacity: 1
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0;
    /* -o-transform: scale(1.1); */
  }

  100% {
    opacity: 0;
    /* -o-transformm: scale(1); */
  }
}

@-moz-keyframes slideShow {
  0% {
    opacity: 0;
    /* -moz-transform: scale(1); */
  }

  4% {
    opacity: 1
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0;
    /* -moz-transform: scale(1.1); */
  }

  100% {
    opacity: 0;
    /* -moz-transformm: scale(1); */
  }
}

@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    /* -webkit-transform: scale(1); */
  }

  4% {
    opacity: 1
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0;
    /* -webkit-transform: scale(1.1); */
  }

  100% {
    opacity: 0;
    /* -webkit-transformm: scale(1); */
  }
}

/* Countdown Frame */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

/* For devices larger than 400px */
@media (min-width: 320px) {

  /* .section-title {
    font-size: 5em;
  } */

  .container {
    width: 85%;
    padding: 0;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .six.columns {
    width: 48%;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 2s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

}


/* For devices larger than 550px */
@media (min-width: 650px) {
  .container {
    width: 80%;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74.0%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }

  .countdown-item {
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

}


/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Larger than mobile */
@media only screen and (min-width: 320px) and (max-width:649px) {
  html {
    font-size: 0.48em;
  }

  .top-bar {
    height: 50px;
  }

  .wrap960 {
    width: 98%;
  }

  .logo-box {
    left: 0;
    height: 50px;
    width: 100px;
  }

  .logo-box p {
    height: 50px;
  }

  .nav-box {
    width: 50%;
    float: right;
    padding: 0px 0px;
    position: relative;
    top: 50px;
    right: -10%;
    border-radius: 25px;
    color: #000;
    background-color: rgba(44, 44, 43, 0.9);
  }

  .nav {
    font-size: 16px;
    padding-left: 0px;
    margin: 0 auto;
    position: static;
  }

  .nav a {
    top: 0;
    padding: 0 0;
    background: none;
    color: #FF5722;
  }

  .nav a:hover {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(44, 44, 43, 0.75);
    color: #ffffffd0 !important;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;
    font-weight: 900;
    border-radius: 35%;
  }

  .nav-active {
    /* background: url("../img/nav-bg.png") no-repeat; */
    background-color: rgba(44, 44, 43, 0.75);
    color: #ffffffd0 !important;
    font-family: 'Lucida Console' !important;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;
    border-radius: 35%;
  }

  .nav li {
    padding: 5px 0;
    /* border: 1px solid; */
    border-top: 1px solid #00ff00;
    background-attachment: #000;
    color: #FF5722 !important;
    border-radius: 25px;
    /* animation: fadeIn 3s; 
    animation-delay: 10s; */
    width: 100%;
    float: right;
    -webkit-animation: 3s ease s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
  }

  .home-slide {
    /* min-height: 180px; */
    height: 100%;
  }

  .section-title {
    font-size: 5em;
  }

  .para-slide {
    width: 300px;
    font-size: 0.8em;
  }

  .pre-para {
    padding-left: 5px;
    height: 50px;
  }

  .post-para {
    padding-right: 18px;
    line-height: 180px;
  }

  #countdown {
    padding-left: 18px;
  }

  /*.team-container{height:400px;}*/
  .about-para {
    font-size: 10px;
  }

  .event_column {
    display: none;
  }

  .quotes {
    font-size: 10px;
  }

  .event-image {
    width: 0%;
  }

  .instruct {
    width: 100%;
  }

  .event-content {
    min-height: 350px;
    max-height: 420px;
  }

  .info {
    width: 100%;
    color: rgb(255, 255, 255);
    opacity: 1;
  }

  .head-name {
    font-size: 1.3em;
  }

  .ph {
    font-size: 0.7em;
  }

  /* .register-container{height:300px;} */
  .foot {
    font-size: 10px;
  }

  .contact-us {
    bottom: 110px;
    font-size: 1em;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 17px;
    border-radius: 50%;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

  .contact_synsara_container {
    height: 100px;
    width: 100%;
    /* margin: 0.5%; */
    background-color: #00ff00;
  }


  .contact_synsara_col {
    /* padding-left: 20px; */
    text-align: center;
    width: 100%;
    height: 80px;
    float: left;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 13px;
  }

  .contact_synsara_row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (min-width: 650px) and (max-width:749px) {
  html {
    font-size: 0.6em;
  }

  .top-bar {
    height: 60px;
  }

  .wrap960 {
    width: 98%;
  }

  .logo-box {
    left: 0;
    height: 50px;
    width: 14%;
  }

  .logo-box p {
    height: 50px;
  }

  .nav-box {
    height: 60px;
    width: 85%;
    padding: 0px 0px;
  }

  .nav a {
    top: 10px;
    padding: 12px 7px;

  }

  .nav a:hover {
    background: url("../img/nav-bg.png") no-repeat;
    color: #000000;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;

    border-radius: 35%;
  }

  .nav-active {
    /* background: url("../img/nav-bg.png") no-repeat; */
    background-color: rgba(44, 44, 43, 0.75);
    color: #ffffffd0 !important;
    font-family: 'Lucida Console' !important;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;
    border-radius: 35%;
  }

  .home-slide {
    /* min-height: 300px; */
    height: 100%;
  }

  .para-slide {
    width: 480px;
  }

  .pre-para {
    padding-left: 5px;
    height: 50px;
  }

  .post-para {
    padding-right: 18px;
    line-height: 180px;
  }

  #countdown {
    padding-left: 18px;
  }

  /*.team-container{height:320px;}*/
  .event_column {
    height: 120px;
  }

  .event_column img {
    height: 120px;
  }

  .eventhover {
    height: 120px;
  }

  .event-hover-active {
    bottom: 120px;
  }

  .event-image {
    width: 0%;
  }

  .instruct {
    width: 100%;
  }

  .event-content {
    height: 400px;
  }

  .info {
    width: 100%;
  }

  .head-name {
    font-size: 2em;
  }

  /* .register-container{height:350px;} */
  .contact-us {
    bottom: 100px;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }


  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }


  .contact_synsara_container {
    height: 85px;
    width: 100%;
    /* margin: 0.5%; */
    background-color: #00ff00;
  }


  .contact_synsara_col {
    /* padding-left: 20px; */
    text-align: center;
    width: 33%;
    height: 70px;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .contact_synsara_row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) and (max-width:999px) {
  html {
    font-size: 0.75em;
  }

  .top-bar {
    height: 60px;
  }

  .wrap960 {
    width: 97%;
  }

  .logo-box {
    height: 60px;
    width: 15%;
  }

  .logo-box p {
    height: 60px;
  }

  .nav-box {
    height: 60px;
    width: 80%;
  }

  .nav a {
    top: 10px;
    padding: 22px 10px;
  }

  .nav a:hover {
    background: url("../img/nav-bg.png") no-repeat;
    color: #000000;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;

    border-radius: 35%;
  }

  .nav-active {
    /* background: url("../img/nav-bg.png") no-repeat; */
    background-color: rgba(44, 44, 43, 0.75);
    color: #ffffffd0 !important;
    font-family: 'Lucida Console' !important;
    background-position: center bottom !important;
    transition: background 0.3s linear, color 0.3s linear;
    border-radius: 35%;
  }

  .home-slide {
    /* min-height: 450px; */
    height: 100%;
  }

  .para-slide {
    width: 650px;
  }

  .pre-para {
    padding-left: 27px;
    height: 62px;
  }

  .post-para {
    padding-right: 52px;
    line-height: 220px;
  }

  #countdown {
    padding-left: 52px;
  }

  .event_column {
    height: 150px;
  }

  .event_column img {
    height: 150px;
  }

  .eventhover {
    height: 150px;
  }

  .event-hover-active {
    bottom: 150px;
  }

  .event-image {
    background-size: contain !important;
  }

  .head-name {
    font-size: 2em;
  }

  /* .register-container{height:400px;} */
  .contact-us {
    bottom: 110px;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 85px;
    height: 85px;
    line-height: 85px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

  .contact_synsara_container {
    height: 100px;
    width: 100%;
    /* margin: 0.5%; */
    background-color: #00ff00;
  }


  .contact_synsara_col {
    /* padding-left: 20px; */
    text-align: center;
    width: 33%;
    height: 80px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contact_synsara_row:after {
    content: "";
    display: table;
    clear: both;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width:1199) {

  /*.team-container{height:400px;}*/
  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

  .contact_synsara_container {
    height: 140px;
    width: 100%;
    /* margin: 0.5%; */
    background-color: #00ff00;
  }


  .contact_synsara_col {
    /* padding-left: 20px; */
    text-align: center;
    width: 33%;
    height: 100px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact_synsara_row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

  .register-container {
    height: auto;
    width: auto;
  }

  .twelve.columns.six {
    width: 100%;
    margin-left: 0;
  }

  .countdown-item {
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    width: 110px;
    height: 110px;
    line-height: 110px;
    position: relative;
    opacity: 0;
    background-color: rgba(47, 46, 54, 0.5);
    margin: 5px;
  }

  .countdown-item.show {
    animation: fadein 1s forwards;
  }

  .countdown-item.days {
    animation-delay: 1s;
  }

  .countdown-item.hours {
    animation-delay: 1.5s;
  }

  .countdown-item.minutes {
    animation-delay: 2s;
  }

  .countdown-item.seconds {
    animation-delay: 2.5s;
  }

  .countdown-item.days::after {
    content: attr(data-days);
  }

  .countdown-item.hours::after {
    content: attr(data-hours);
  }

  .countdown-item.minutes::after {
    content: attr(data-minutes);
  }

  .countdown-item.seconds::after {
    content: attr(data-seconds);
  }

  .contact_synsara_container {
    height: 140px;
    width: 100%;
    /* margin: 0.5%; */
    background-color: #00ff00;
  }


  .contact_synsara_col {
    /* padding-left: 20px; */
    text-align: center;
    width: 33%;
    height: 100px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact_synsara_row:after {
    content: "";
    display: table;
    clear: both;
  }
}